@charset "utf-8";

/* mq_m.css */
/* 모바일 기준 */
html {
  font-size: 18px;
}
body {
  margin: 0;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
}
h1 {
  background-color: #580000;
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  padding: 30px;
  transition: 0.4s;
}
h1 strong {
  display: block;
}
h2 {
  font-size: 1.4rem;
  background-color: #9e1313;
  color: #fff;
  margin: 0;
  padding: 20px;
  transition: 0.4s;
}
.container {
  font-weight: bold;
  font-size: 1.1rem;
  display: grid;
  grid-auto-rows: 20vh;
}
.container .box1 { background-color: #e76969; }
.container .box2 { background-color: #e99191; }
.container .box3 { background-color: #ffc4c4; }