@charset "utf-8";

@media screen and (min-width: 768px) {
  main {
    display: flex;
    padding: 50px 18px 0 18px;
  }

  main .menu-container {
    position: relative;
    display: block;
    width: 15%;
    min-width: 130px;
  }

  /* 상품 이미지 */
  main .product-container {
    width: 58%;
  }

  main .product-container .img-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    /* gap: 10px; */
  }

  /* 구매 영역 */
  main .order-container {
    width: 27%;
    padding: 100px 50px 0 80px;
  }

  main .order-container .order-box {
    position: sticky;
    top: 40px;
  }

  main .order-container .order-box .clothe-num {
    font-size: 20px;
  }

  main .order-container .order-box h2 {
    font-size: 32px;
  }

  main .order-container .order-box .price {
    font-size: 24px;
  }

  /* pc 상품 설명 */
  main .order-container .order-box .pc-info-box {
    display: block;
    font-size: 16px;
    line-height: 1.8;
    padding: 20px 0 40px;
  }

  /* 드롭 메뉴 */
  main .order-container .order-box .drop-menu {
    padding-bottom: 30px;
  }

  main .order-container .order-box .drop-menu .drop-color {
    margin-right: 15px;
    font-size: 24px;
  }

  main .order-container .order-box .drop-menu .drop-size {
    margin-left: 15px;
    font-size: 24px;
  }

  /* 버튼 */
  main .order-container .order-box .btn {
    font-size: 20px;
    height: 45px;
  }

  /* 토글 */
  main .order-container .order-box .info-box .mobile-info-box {
    display: none;
  }

  main .order-container .order-box .toggle-btn .info-toggle h2 {
    font-size: 16px;
    font-weight: 600;
  }

  main .order-container .order-box .toggle-btn p {
  font-size: 14px;
  }
}