@charset "utf-8";

h1 {
  text-align: center;
}

table {
  margin: 0 auto 50px;
  /* width: 60%; */
  border: 2px solid #80a6e0
}

table caption {
  background-color: #80a6e0;
  color: #fff;
  padding: 8px;
  border-radius: 20px 20px 0 0;
}

table th, table td {
  border: 1px dashed #5cc3ec;
  /* padding: 8px 10%; */
  padding: 8px 30px;
}

.box1 {
  border-spacing: 5px;
}

.box2 {
  /* border-spacing: 0; */
  border-collapse: collapse;
}