@charset "utf-8";

body {
  width: 100%; height: 1080px;
}

header {
background-color: #ddd;
width: 100%; height: 100vh;
background-image: url(images/mb_cargo.png);
background-repeat: no-repeat;
background-size: cover;
}

header .nav {
  background-color: rgb(0, 0, 0, 0.3);
  color: #fff;
  width: 100%; height: 98px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #fff;
}

header .nav:hover {
  background-color: #dadada;
  color: #000;
}

header .nav h1 img {
  width: 15vw;
  margin-left: 20px;
}

header .nav .main-nav {
  margin: auto;
  display: flex;
  width: 65vw; height: 98px;
  justify-content: space-evenly;
  line-height: 98px;
}

header .nav .main-nav li:hover {
  color: #f5821f;
}

header .nav .sub-nav {
  display: flex;
}

header .nav .sub-nav li {
  margin-right: 20px;
}

header .nav .sub-nav .btn1 {
  background-color: #f5821f;
  width: 128px; height: 31px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 31px;
}

header .wrapper1 {
  width: 100%;
  color: #fff;
  display: flex;
  position: absolute;
  bottom: 350px; left: 100px;
  font-style: italic;
}

header .wrapper1 h2 {
  font-size: 3rem;
}

header .wrapper1 h2:first-child {
  font-weight: normal;
}

header .wrapper1 .circle li {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 100px; height: 100px;
  text-align: center;
  font-style: normal;
  display: block;
}

/******** main ********/

main .box1 {
  text-align: center;
}

main .box1 h2 {
  margin: 100px 0px 30px 0px;
  font-size: 3rem;
}

main .box1 p {
  color: #222;
}

main .box1 ul {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

main .box1 ul li {
  padding: 60px;
  border-left: 1px solid #ddd;
}

main .box1 ul li:first-child {
  border-left: none;
}

main .box1 ul li img {
  margin-bottom: 30px;
}

main .box1 ul li .container {
  display: flex;
  justify-content: center;
}

main .box1 ul li .container h3 {
  font-size: 3.5rem;
}

main .box1 ul li .container p {
  align-content: flex-end;
  font-size: 0.9rem;
}
main .box1 ul li .b_txt {
  color: #0926ac;
  font-weight: bold;
  font-size: 1.2rem;
}

main .box2 {
  text-align: center;
  position: relative;
}

main .box2 h2 {
  margin: 100px 0px 30px 0px;
  font-size: 3rem;
}

main .box2 .area_box1 {
  background-color: #eee;
  width: 50vw; height: 500px;
  padding: 30px 100px;
  margin-top: 50px;
}

main .box2 .area_box1 .con_nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

main .box2 .area_box1 .con_nav li {

}

main .box2 .area_box1 .con_nav li:hover {
  color: #f5821f;
  /* border-top: 3px solid #f5821f; */
}

main .box2 .area_box1 h3 {
  font-size: 2rem;
  padding: 30px;
}

main .box2 .area_box1 p {
  color: #222;
  font-size: 0.9rem;
  padding-bottom: 30px;
}

main .box2 .area_box1 ul {
  display: flex;
  justify-content: space-evenly;
}

main .box2 .area_box2 {
  position: absolute;
  right: 0; bottom: 0;
}