@charset "utf-8";

@keyframes mov1 {
  100% {
    background-image: linear-gradient(#C0D6E8, #C6EBC5);
    margin-left: 70vw; /* 레이아웃에 영향을 줌 */
  }
}

@keyframes mov2 {
  100% {
    background-image: linear-gradient(#C0D6E8, #C6EBC5);
    transform: rotate(360deg);
    left: 90%;
  }
}

@keyframes mov3 {
  100% {
    background-image: linear-gradient(#C0D6E8, #C6EBC5);
    transform: translateX(calc(100vw - 200px)) rotate(360deg);
  }
}