@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

/* 
  system-ui : 운영체제의 기본 서체
  -apple-system : mac, ios
  BlinkMacSystemFont: chrome 등 블링크 렌더링 엔진을 사용하는 브라우저
  Segoe UI : window

  vedor prefix
  확정되지 않은 기능을 개발자가 미리 사용할 수 있게 만들어 놓은 약속어
  브라우저에 내장된 기능을 이 벤더(접두어)를 통해 사용하게 만듦
  -m- IE
  -webkit- 크롬, 엣지, 웨일
  -o- 오페라
  -moz- 파이어폭스
*/

/* 스크롤바 가로 크기 */
body::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
}

 /* 스크롤바 배경 */
body::-webkit-scrollbar-track {
  background-color: #e28c8c;
 }

 /* 스크롤바 핸들 */
 body::-webkit-scrollbar-thumb {
  background-color: #6e1e1e;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
 }

body {
  font-family: 'SpoqaHanSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', '맑은 고딕', '돋움', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

/* nav */
.gnb {
  background-color: #fff;
  position: fixed;
  top: 0;
  left:0; right: 0;
  margin: auto;
  width: 50%;
  /* absolute, fixed 좌우 중앙 정렬 */

  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.022),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.03),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.034),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.038),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.045),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;

  display: flex;
  justify-content: center;
}

.gnb li {
  /* width: 25%; */
  flex-grow: 1;
}

.gnb a {
  /* width: 25%; */
  display: block;
  padding: 10px 0;
}

/* .gnb li:nth-child(1) a {
  border-radius: 0 0 0 15px;
} */

.gnb li:nth-child(1) a, #box1 { background-color: #fff8d3; }
.gnb li:nth-child(2) a, #box2 { background-color: #e0ffcf; }
.gnb li:nth-child(3) a, #box3 { background-color: #d3ffe8; }
.gnb li:nth-child(4) a, #box4 { background-color: #d8f3ff; }
.gnb li:hover a {
  color: #fff;
  background-color: #777777;
}

/* box */
.box {
  font-size: 2rem;
  font-weight: 700;
  height: 100vh;
  padding-top: 100px;
}

#box1 { background-color: #fff8d3; }
#box2 { background-color: #e9ffcf; }
#box3 { background-color: #d3ffe8; }
#box4 { background-color: #d8f3ff; }