@charset "utf-8";

@media (min-width: 1200px) {
  body {
    font-size: 3.5ch;
    font-weight: 600;
  }
  nav .global-menu {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 200px));
    justify-content: center;
  }
  nav .global-menu li a {
    border-right: 1px solid #fff;
    display: grid;
    place-items: center;
    border-bottom: none;
  }
  nav .global-menu li a:hover {
    background-color: rgba(109, 131, 165, 0.7);
  }

  nav .global-menu li:last-child a {
    border-right: none;
  }
}